.h1 {
    color: rgb(8, 58, 58); 
    text-align: center;
    padding-top: 80px;
    font-size: 60px;
}

.box {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(192, 124, 35);
  }

